:root {
    --bg:#F4F0EB;
    --text: #141414;
}

* {
    box-sizing: border-box;
    max-width: 35rem;
}

html,
body,
div {
  max-width: none;
}

body {
  background: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
    --bg:black;
    --text:white;
    }
}

#color-mode:checked ~ .color-scheme-wrapper {
    background: var(--text);
    color: var(--bg);
}

.color-scheme-wrapper {
    min-height:100vh;
    background: var(--bg);
    color: var(--text);
}

.light-mode-hide {
    display: none;
  }
  
  @media (prefers-color-scheme: dark) {
    .dark-mode-hide {
      display: none;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .light-mode-hide {
      display: initial;
    }
  }